@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700');

body {
    margin: 0;
    padding: 0;
}
/*--- Background ---*/

.footer-background {
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    padding-top: 20px;
}

.short-info {
    background-color: white;
    height: 70vh;
}

.testimonials {
    background-color: grey;
    height: 45vh;
}

.abouttext {
    background-color: grey;
    height: 75vh;
}

.contactform-bg {
    background-color: grey;
    height: 75vh;
}

.calendar-bg {
    background-color: grey;
    height: 110vh;
}

/*--- Header ---*/

.navbarheight {
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.navbarlink {
    padding-top: 15px;
    padding-right: 10px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #ffffff;
}

h1:hover {
    color: rgba(255, 255, 255,.7);
}

.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255,.7);
}

.nav-item-style {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    margin-right: 40%;
    
}

.far {
    padding-right: 20%;
    display: inline;
}

#navbar-nav {
    background-color:#F4436F;
}

.navbar-light .navbar-toggler {
    color: #ffffff;
}

/*--- Footer ---*/

.footertext {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.social-links {
    text-align: center;
}

.icon {
    font-size: 30px;
    color: #ffffff;
}

.icon:hover {
    color: rgba(255, 255, 255,.7);
}

/*--- Callout ---*/

.call-out {
    height: 100vh;
    background-image: url(images/stone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.welcome {
    width: 100px;
    text-align: center;
    margin-top: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 25px;
}

.call-out-quote {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}

/*--- Info ---*/

.yogamen {
    height: 70vh;
    background-image: url(images/men.jpg);
    background-size: cover;
}

.infotext {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
}

.infolist {
    list-style-type: none;
    margin-top: 80px;
    margin-right: 30px;
}

.otherpoint {
    margin-left: 30px;
    margin-bottom: 30px;
}

.infoicon {
    margin-right: 10px;
    color: grey;
}

/*--- Testimonials ---*/


.testiquote {
    display: flex;
    margin-top: 50px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 10px;
}

.blockquote {
    margin-left: 10px;
}

.testperson {
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.testiquote, .blockquote-footer {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #ffffff;
}

/*--- About Image ---*/

.aboutimage {
    height: 120vh;
    background-image: url(images/house.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*--- About Text ---*/

.milestone-info {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #000000;
}

.milestone-title {
    text-align: center;
}

.infobox {
    width: 850px;
    background-color: RGBA(255, 255, 255, 0.5);
    padding: 20px;
    margin-top: 50px;
    border-radius: 25px;
}

/*--- About Video ---*/

.infovideo {
    background-color: white;
    margin: 50px;
    margin-left: 200px;
}
    
/*--- Contact ---*/

.contactimage {
    height: 90vh;
    background-image: url(images/forest.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contactform

/*--- Calendar ---*/


@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
	background: #f9f9f9;
	color: #0e171c;
	font: 300 100%/1.5em 'Lato', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 2em;
	line-height: 1.25em;
	margin: .25em 0;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin: .33em 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	height: 538px;
	left: 50%;
	margin: -255px 0 0 -245px;
	position: absolute;
	top: 50%;
	width: 510px;
}

/* ---------- CALENDAR ---------- */

.calendar {
	text-align: center;
}

.calendar header {
	position: relative;
}

.calendar h2 {
	text-transform: uppercase;
}

.calendar thead {
	font-weight: 600;
	text-transform: uppercase;
}

.calendar tbody {
	color: #7c8a95;
}

.calendar tbody td:hover {
	border: 2px solid #00addf;
}

.calendar td {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 4em;
	line-height: 4em;
	text-align: center;
	width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
	color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
	border: 2px solid #cbd1d2;
}

.current-day {
	background: #00addf;
	color: #f9f9f9;
}

.event {
	cursor: pointer;
	position: relative;
}

.event:after {
	background: #00addf;
	border-radius: 50%;
	bottom: .5em;
	display: block;
	content: '';
	height: .5em;
	left: 50%;
	margin: -.25em 0 0 -.25em;
	position: absolute;
	width: .5em;
}

.event.current-day:after {
	background: #f9f9f9;
}

.btn-prev,
.btn-next {
	border: 2px solid #cbd1d2;
	border-radius: 50%;
	color: #cbd1d2;
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
	background: #cbd1d2;
	color: #f9f9f9;
}

.btn-prev {
	left: 6em;
}

.btn-next {
	right: 6em;
}

.calendar-look {
    background-color: #ffffff;
    margin-top: 100px;
}

/*--- Media Queries ---*/

@media (max-width: 768px) {
    .short-info {
        height: 110vh;
    }
    .testimonials {
        height: 110vh;
        margin-top: 40vh;
        margin-bottom: 10vh;
        padding-top: 10vh;
        padding-bottom: 20vh;
        background-color: grey;
    }
    
} 