body {
    margin: 0;
    padding: 0;
}

/* --- Backgrounds --- */

.call-out {
    height: 100vh;
    background: url('Images/flowers.jpg') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* --- Header ---*/

header {
    text-align: center;
}

/* --- Info ---*/

.men {
    background: url(Images/men.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 360px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}