@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700');

body {
    margin: 0;
    padding: 0;
}

/*--- Background ---*/

.footer-background {
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    padding-top: 20px;
}

.short-info {
    background-color: white;
    height: 70vh;
}

.testimonials {
    background-color: #005a67;
    height: 55vh;
}

.abouttext {
    background-color: #005a67;
    height: 75vh;
}

.contactform-bg {
    background-color: #005a67;
    height: 100vh;
}

.calendar-bg {
    background-color: #005a67;
    height: 105vh;
}

.about-bg {
    height: 100vh;
}

/*--- Header ---*/

.navbarheight {
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.navbarlink {
    padding-top: 15px;
    padding-right: 10px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #ffffff;
}

h1:hover {
    color: rgba(255, 255, 255, .7);
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .7);
}

.nav-item-style {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    margin-right: 40%;

}

.far {
    padding-right: 20%;
    display: inline;
}

#navbar-nav {
    background-color: #F4436F;
}

.navbar-light .navbar-toggler {
    color: #ffffff;
}

/*--- Footer ---*/

.footertext {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

.social-links {
    text-align: center;
}

.icon {
    font-size: 30px;
    color: #ffffff;
}

.icon:hover {
    color: rgba(255, 255, 255, .7);
}

/*--- Callout ---*/

.call-out {
    height: 100vh;
    background-image: url(images/stone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -webkit-transition: all ease-in-out;
    -o-transition: all ease-in-out;

}

.welcome {
    width: 100px;
    text-align: center;
    margin-top: 35px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 25px;
    transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -webkit-transition: all ease-in-out;
    -o-transition: all ease-in-out;
}

.call-out-quote {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    font-size: 60px;
}

/*--- Info ---*/

.yogamen {
    height: 70vh;
    background-image: url(images/men.jpg);
    background-size: cover;
    transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -webkit-transition: all ease-in-out;
    -o-transition: all ease-in-out;
}

.infotext {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
}

.infolist {
    list-style-type: none;
    margin-top: 30px;
    margin-right: 30px;
}

.otherpoint {
    margin-left: 30px;
    margin-bottom: 30px;
}

.infoicon {
    margin-right: 10px;
    color: #FFA500;
}

.feature-header {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

.morelink {
    color: #FFA500;
    margin-left: 5px;
    font-weight: 700;
}

.morelink:hover {
    text-decoration: none;
    color: #ff8c00;
}

/*--- Testimonials ---*/

.testiquote {
    display: flex;
    margin-top: 30px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 10px;
}

.blockquote {
    margin-left: 10px;
}

.testperson {
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}


.testiquote,
.blockquote-footer {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.test-title {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-top: 30px;
    text-align: center;
}

/*--- About Image ---*/

.aboutimage {
    height: 120vh;
    background-image: url(images/house.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -webkit-transition: all ease-in-out;
    -o-transition: all ease-in-out;
}

/*--- About Text ---*/

.milestone-info {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #000000;
}

.milestone-title {
    text-align: center;
}

.infobox {
    width: 850px;
    background-color: RGBA(255, 255, 255, 0.5);
    padding: 20px;
    margin-top: 50px;
    border-radius: 25px;
}

.abouttext2 {
    width: 850px;
    border-radius: 25px;
    margin-left: 240px;
    margin-top: 30px
}

.center {
    text-align: center;
}

.abouttext2 .center {
    color: #FFA500;
}

/*--- About Video ---*/

.video {
    background-color: white;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
}

/*--- Contact ---*/

.contactimage {
    height: 90vh;
    background-image: url(images/forest.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -webkit-transition: all ease-in-out;
    -o-transition: all ease-in-out;
}

.contactform {
    margin-top: 30px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
}

.white {
    color: #ffffff;
}

.adress {
    margin-top: 30px;
    background-color: rgb(225, 225, 225, 0.5);
    height: 81vh;
}

.adressinfo {
    margin-top: 20px;
}

/*--- Calendar ---*/

.calendartext {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-top: 30px;
}

.ccenter {
    margin-bottom: 30px;
    text-align: center;
}

.calendar-image {
    height: 100vh;
    background-image: url(images/landscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -webkit-transition: all ease-in-out;
    -o-transition: all ease-in-out;
}

/*--- Media Queries ---*/

@media (max-width: 768px) {
    .short-info {
        height: 110vh;
    }
    .testimonials {
        height: 70vh;
        margin-top: 305px;
    }
    .testperson {
        display: none;
    }
    .infobox {
        width: 340px;
    }
    .abouttext{
        height: 100vh;
        width: 380px;
    }
    .about-bg{
        height: 110vh;
    }
    
    .abouttext2, .video{
        width: 350px;
        margin:0;
        padding-top: 20px;
    }
    .video {
        padding-right: 10px;
    }
    .calendar {
        width: 380px;
    }
    
    .googlecalendar {
        width: 330px;
    }
    .textarea {
        width: 300px;
    }
    .contactform-bg {
        height: 130vh;
    }
    .adress {
        height: 50vh;
    }
    .footer-background {
        height: 45vh;
    }
    
    .mischa {
        display: none;
    }
}
